<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="LenderKit WebApp">
  <title>LenderKit WebApp</title>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicons/favicon-16x16.png">
  <link rel="manifest" href="<%= BASE_URL %>favicons/site.webmanifest">
  <link rel="mask-icon" href="<%= BASE_URL %>favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="<%= BASE_URL %>favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="<%= BASE_URL %>favicons/browserconfig.xml">
  <script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>
    {
      "@context": "https://schema.org",
      "@graph": [{
        "@type": "WebSite",
        "@id": "https://lenderkit.com/#website",
        "url": "https://lenderkit.com/",
        "name": "LenderKit",
        "description": "LenderKit is a customisable white-label crowdfunding software developed by JustCoded."
      }, {
        "@type": "WebPage",
        "@id": "https://lenderkit.com/#webpage",
        "url": "https://lenderkit.com/",
        "name": "LenderKit",
        "isPartOf": {
          "@id": "https://lenderkit.com/#website"
        },
        "description": "LenderKit is a customisable white-label crowdfunding software developed by JustCoded."
      }]
    }
  </script>
</head>

<body>
<noscript>
  <strong>We're sorry but LenderKit WebApp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
